.info {
  display: grid;
  grid-template-columns: 120px 1.5fr 1fr;
  grid-template-rows: 60px 60px;
  width: 100%;
  align-items: center;
}

.info__logo {
  grid-row: 1 / 3;
  grid-column: 1;
  align-self: baseline;
}

.info__appName {
  grid-row: 1;
  grid-column: 2;
  margin: 0;
}
.info__appId {
  grid-row: 2;
  grid-column: 2;
  margin: 0;
}
.info__stores {
  grid-row: 1;
  grid-column: 3;
}
.info__state {
  grid-row: 2;
  grid-column: 3;
  padding: 1rem;
}
.infoStores__link {
  padding: 1rem;
}

