.container {
  flex-direction: column;
  gap: 1rem;
}

.preview {
  width: 375px;
  height: 667px;
  background-color: #333;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.title {
  align-items: flex-start;
  display: flex;
  flex: 1;
}

.previewContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}